@page "/calc"

<div class="container">
    <div>
        <h2 class="title-paragraph">Cálculo de IMC</h2>
        <div>
            <div class="paragraph-container">
                <p class="p-container">O Índice de Massa Corporal (IMC) é uma medida amplamente utilizada para avaliar se uma pessoa está dentro de um peso saudável para sua altura.
                     Ele é calculado dividindo o peso da pessoa em quilogramas pelo quadrado de sua altura em metros. 
                     A fórmula matemática é a seguinte:
                </p>
                <p class="p-container">
                    O IMC é uma ferramenta simples e rápida para identificar possíveis problemas de peso em adultos, mas não deve ser considerado como a única medida de saúde.
                    Ele não leva em conta a distribuição de gordura corporal, 
                    a composição corporal ou a saúde geral da pessoa. Por exemplo, uma pessoa musculosa pode ter um IMC alto,
                    mesmo que tenha pouca gordura corporal.
                </p>
                <p class="p-container">
                    As faixas de IMC geralmente são interpretadas da seguinte forma:
                </p>
                <p class="p-container">
                    - Abaixo de 18,5: Abaixo do peso
                    - 18,5 - 24,9: Peso normal
                    - 25,0 - 29,9: Sobrepeso
                    - 30,0 e acima: Obesidade
                </p>
                <p class="p-container">
                    É importante notar que essas faixas podem variar ligeiramente dependendo de fatores como idade, 
                    sexo, etnia e composição corporal. É sempre recomendável consultar um profissional de saúde para 
                    uma avaliação mais detalhada e personalizada. O IMC é uma ferramenta útil, mas não deve substituir uma avaliação médica completa e individualizada.
                </p>
            </div>
        </div>
    </div>
</div>