@using Imc.Classes;
@page "/resultuw"
@inject HistoryService HistoryService

<div class="container">
    <div>
        <div class="img-container">
            <div class="img-container2">
                <img src="./icon-no-bg.png" alt="imc" class="img-result">
            </div>
        </div>
    </div>
    <div class="result">        
        <div>
            <div class="congrat-container">
                <i>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="green" class="bi bi-check-square-fill" viewBox="0 0 16 16">
                        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"/>
                    </svg>
                </i>
                <h2>Parabéns!</h2>
            </div>
            <div class="text-result">
                <span>
                    Você está no peso ideal, continue mantendo este estilo!
                </span>
            </div>
        </div>
        <div class="button-result">
            <ButtonB Text="Registrar medidas" OnClick="@RegisterOnHistory"/>
            <ButtonW Text="Ver meu Histórico" OnClick="@RedirectToHistory"/>
        </div>
    </div>
</div>

@code {

    [Inject]
    private NavigationManager NavigationManager { get; set; }
    public void  RedirectToHistory()
    {
        NavigationManager.NavigateTo("/history");
    }

    public void RegisterOnHistory()
    {
        try
        {
            NavigationManager.NavigateTo("/history");
        }
        catch(Exception ex)
        {
            Console.WriteLine("Erro ao tentar adicionar na lista" + ex.Message);
        }
    }

    
}